@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
}

body{
  background-image: linear-gradient(to right, #A852C3, #56106D);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}
.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  
}
.logoImg{
  height: 30%;
  width: 100%;
  margin-top: 24%;
}
.description{
  margin-top: -20%;
  font-size: 36px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight:lighter
}
.buttons{
  display: flex;
  align-items: center;
  width: 438px;
  height: 31px;
  justify-content: space-between;
  margin-right: 7%;
  margin-bottom: 100px;
}
#btnDifficulty{
  width: 70px;
  height: 31px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  color: white;
  font-family: 'Montserrat', sans-serif;
  
}
#mainInput{
  width: 880px;
  height: 70px;
  background-color: transparent;
  border-radius: 134px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: white;
  padding-left: 40px;
  outline: none;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: 'Montserrat', sans-serif;
}
::placeholder {
  color: white;
  opacity: 1; 
  font-family: 'Montserrat', sans-serif;
}
.everything{
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}
.header{
  display: flex;
  width: 100vw;
  height: 84px;
}
.questionNumber{
  align-self: center;
  justify-content: flex-end;
  margin-left: 60%;
  margin-top: 2%;
  color: white;
  font-size: 24px;
  display: flex;
  font-family: 'Montserrat', sans-serif;
}
.mainQuestion {
 
  color: white;
  margin: 15px;
  font-size: 24px;
  align-content: center;
  display: flex;

}
#secondaryLogo{
  height: 84px;
  width: 311px;
  display: flex;
  justify-content: flex-start;
  margin-left: 2%;
}
.appQuestion{
  display: flex;
  height: 400px;
  width: 1000px;
  position: center;
  align-items: center;
  flex-direction: row;
  margin-top: 150px;
  color: white;
  font-family: 'Cutive Mono', monospace;
}
.answerBox{
  width: 956px;
  height: 313px;
  background-color: #d9d9d90f;
  border-radius: 63px;
  outline: none;
  border-width: 0px;
}
.answer{
  width: 900px;
  height: 313px;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color:white;
  padding-left: 3.2%;
  padding-top: 3.5%;
  font-family: 'Montserrat', sans-serif;
  resize: none;
}
.submit{
  align-items: center;
  margin-left: 40%;
  height: 66px;
  width: 196px;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  background-color: #06F31E;
  border-radius: 30px 30px 30px 30px;
  color: white;
  font-size: 30px;
  margin-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}
.submit:hover{
  box-shadow: 15px 15px #06f31e8b ;
}
.headerdivision{
  width: 100%;
  height: 4px;
  background-color: #56106D;
  margin-top: 2%;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
  margin-bottom: 10%;
}
#arrowup{
  height: 30px;
  transform: rotate(180deg);
}
#arrowdown{
  height: 30px;
}


.arrow{
  background-color: #d9d9d907;
  border-width:  0px;
  cursor: pointer;
  border-radius: 100px;
}

