body{
  background-color: purple;
  height: 90vh;
}
.app{
  background-color: aqua;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 70%;
  margin-left: 15%; 
  margin-top: 2%;

}
.logoImg{
  height: 30%;
  width: 100%;
  margin-top: 24%;
}
.description{
  margin-top: -20%;
  font-size: 22px;
}
.buttons{
  display: flex;
  width: 438px;
  height: 31px;
  justify-content: space-between;
}
#btnDifficulty{
  width: 70px;
  height: 31px;
  background-color: transparent;
  border: none;
  font-size: 34px;
  cursor: pointer;
  color: white;
}
#mainInput{
  width: 884px;
  height: 75px;
  background-color: transparent;
  border-radius: 134px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  color: white;
  padding-left: 64px;
  outline: none;
  margin-top: 2%;
  margin-bottom: 5%;
}
::placeholder {
  color: white;
  opacity: 1; 
}